.register-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid var(--primary-color-1-shade);
    padding: 1%;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    z-index: 1;
}

.register-container .header .title {
    font-weight: 600;
    font-size: 26px;
    color: var(--primary-color-1);
}

.register-container .header input[type="text"] {
    border-radius: 4px 0px 0px 4px;
    border-color: var(--primary-color-1);
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    padding: 3px 0px 3px 10px;
}

.register-container .header input[type="text"]:focus {
    border-color: var(--primary-color-1-shade);
    outline: none;
}

.register-container .header input[type="text"]:focus + label {
    border-color: var(--primary-color-1-shade);
    outline: none;
}

.register-container .header input[type="text"] + label {
    border-radius: 0px 4px 4px 0px;
    border-color: var(--primary-color-1);
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    padding: 3px 10px 3px 10px;
}

.register-container .header input[type="text"] + label:hover {
    cursor: pointer;
}

.register-container .body .button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 5px;
}

.register-container .body .button-container .button, .register-container .header .button {
    text-align: center;
    margin: 10px;
    width: 250px;
    padding: 10px 20px 10px 30px;
    background-color: var(--primary-color-1);
    box-shadow: 0px 4px 0px var(--primary-color-1-shade);
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
}

.register-container .header .button {
    padding: 2px 10px 2px 10px;
}

.register-container .body .button-container .button:hover, .register-container .header .button:hover, .register-container .body .form-container .button-container .button:hover {
    box-shadow: unset;
    position: relative;
    top: 4px;
    background-color: var(--primary-color-1-shade);
    cursor: pointer;
}

.register-container .body .form-container {
    margin: 30px 10px 10px 30px;
}

.register-container .body .form-container .form {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
}

.register-container .body .form-container .title {
    color: var(--primary-color-1);
    font-weight: 600;
    font-size: 25px;
}

.register-container .body .form-container .form input[type="text"], .register-container .body .form-container .form select, .register-container .body .form-container .form input[type="number"], .register-container .body .form-container .form input[type="email"], .register-container .body .form-container .form input[type="date"] {
    border: 2px solid var(--primary-color-1);
    border-radius: 4px;
    padding: 10px 10px 5px 10px;
    width: 300px;
}

.register-container .body .form-container .form input[type="text"].invalid, .register-container .body .form-container .form select.invalid, .register-container .body .form-container .form input[type="number"].invalid, .register-container .body .form-container .form input[type="email"].invalid, .register-container .body .form-container .form input[type="date"].invalid {
    border: 2px solid var(--danger) !important;
}

.register-container .body .form-container .form input[type="text"]:focus, .register-container .body .form-container .form select:focus, .register-container .body .form-container .form input[type="number"]:focus, .register-container .body .form-container .form input[type="email"]:focus, .register-container .body .form-container .form input[type="date"]:focus {
    border: 2px solid var(--primary-color-1-shade);
    outline: none;
}

.register-container .body .form-container .form input[type="text"] + label, .register-container .body .form-container .form input[type="number"] + label, .register-container .body .form-container .form input[type="email"] + label, .register-container .body .form-container .form input[type="date"] + label {
    position: relative;
    top: -56px;
    left: 20px;
    background-color: var(--white);
    width: fit-content;
    padding: 0px 5px 0px 5px;
    color: var(--primary-color-1);
}

.register-container .body .form-container .button-container, .enroll-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.register-container .body .form-container .button-container .button {
    text-align: center;
    margin: 10px 0px 10px 0px;
    width: 250px;
    padding: 10px 20px 10px 30px;
    background-color: var(--primary-color-1);
    box-shadow: 0px 4px 0px var(--primary-color-1-shade);
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .register-container .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}