:root {
    --primary-color-1 : #ff0055;
    --primary-color-1-shade : #ee0044;
    
    --gray-scroll-bg : #E6E5E7;
    --gray-scroll : #8A8B8A;
    --gray-scroll-shade : #7A7B7A;

    --white : #FFF;
    --black : #111;
    --alert : #099;
    --danger : #FF0000;

    font-family: 'Roboto', 'Arial', sans-serif;
}